<div class="layout-row flex">
  {{#paper-button iconButton=true onClick=(action "openSearch" bubbles=false)}}{{paper-icon "search" size=18}}{{/paper-button}}
  {{#if auto}}
    {{paper-input placeholder=placeholder type="text" value=value onChange=(action (mut value)) class=(if isExpanded "expanded")}}
  {{else}}
    {{paper-input placeholder=placeholder type="text" value=filter onChange=(action (mut filter)) class=(if isExpanded "expanded")}}
  {{/if}}
  {{#if isExpanded}}
    {{#paper-button iconButton=true onClick=(action "closeSearch" bubbles=false)}}{{paper-icon "close" size=18}}{{/paper-button}}
  {{/if}}
</div>